@model ASP_Front.Models.ViewModels.User.UserBetsDetails

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>@Model.Username</h2>
    <br />
    <h4>Current Global Score : @Model.UserScore</h4>

    <hr />
    <dl class="dl-horizontal">
        @foreach (var betdetails in Model.betDetails)
        {
            <dt style="width:100%; text-align:center; color:@(betdetails.isWon ? "green" : "red")">@betdetails.Team1Name : @betdetails.Team1Score | @betdetails.Team2Name : @betdetails.Team2Score</dt>
        }
    </dl>
    <br />
</div>
